.overlay {
	position: fixed;
	top: 0;
	right: 0;
}

.controls {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	height: 200px;
	background-color: rgba(128, 128, 128, 0.3);
	z-index: 100;
}

.palette .color {
	position: relative;
	height: 40px;
}

.palette .color .swatch {
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	width: 50px;
}